<div class="generic_container">
<% if !container.nil? && !container.empty? %>
<% container.each do |element| %>
<%= render 'shared/elements/element', :element => element, :read_only => !current_user?(@user) %>
<% end %>
<% end %>
</div> <!-- cls-cntnr -->
<br class="clearBoth" />
