<%= render 'shared/containers/container', :container => page_container %>
<% if !page_container.nil? && !page_container.empty? %>
<div class="apple_pagination">
    <%= will_paginate page_container, :container => false , :total_entries => page_container.count %>
</div>
<% end %>


