<%= render 'shared/containers/container', :container => page_container %>
<% if !page_container.nil? && !page_container.empty? %>

<div class="apple_pagination clearfix clickable">
    <%= will_paginate page_container, :container => false , :total_entries => page_container.count %>
</div>
<% class_type = page_container.first.class_type %>
<script type="text/javascript">
    $(window).ready(function() {
        $.bottomlessPagination({element:".<%= class_type+'_element' %>", 
          objName:"<%= (class_type == 'posting' ? 'post' : class_type )+'s' %>"});
        //$.toggleContextMenu($(".<!-- %= class_type+'_element' % -->"));
        //$.autoRefresh();
    });
</script>
<% end %>


