<% if !params[:group].nil? %>
  <% @group = Group.find_group(params[:group]) if @group.nil? %>
  <% if @group.active? %>
  <div id="group_title">
  <h3>Group: <%= link_to @group.title, @group %></h3>
  </div>
  <% if @group.active? && current_user.member?( @group.id ) %>
  <% user = User.find_user(params[:id]) %>
  <% if current_user.id == user.id %>
  <% @reply = false %>
  <%= render 'groups/posting_form' %>
  <% end %>
  <% end %>
  <% end %>
<% else %>
<div id="group_title"><h3><%= @group_title %></h3></div>
<% end %>
