<% return nil if current_user.nil? && user_url(current_user) == request.fullpath %>

<% user = ( @user.nil? ? current_user : @user )  %>
	<%= render 'shared/titles/title', :element => user, :edit_link => edit_user_path(user) %>
	<br class="clearBoth" />
	<div id="user_schools"><%= render 'users/user_schools', :user => user %></div>
	<br class="clearBoth" />
	<br />
	<div class="background_write">Boards</div>
	<div class="nav_link"><%= link_to "All My Boards", user_url(user) + "?board=all" %></div>
	<br class="clearBoth" />
	<br />
	<div id="user_boards"><%= render 'users/user_boards', :user => user %></div>
	<br class="clearBoth" />
