<% unless @postings.nil? || @postings.empty? %>
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
</div>
<table>
    <%= render @postings %>
</table>
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
</div>
<% end %>