<% return nil if current_user.nil? %>
<% user = current_user if user.nil? %>
<% unless user.boards.empty? %>
  <% user.boards.each do |board| %>
     <% if board.active? %>
     <div class="nav_link clickable">
     <%= link_to "#{board.title}", :board => board.id %>
     </div>
     <div class="delete_button">
     <%= link_to 'Del', current_user.boards.find_board(board.id), confirm: "Do you want to remove Board \"#{board.title}\"?", method: :delete %>
     </div>
     <% end %>
  <% end %>
<% end %>

