<h1>Users</h1>
<p>
    <%= link_to 'New User', new_user_path %>
</p>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<table>
    <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Admin</th>
        <th>View count</th>
        <th>Remember token</th>
        <th></th>
        <th></th>
    </tr>
    <% @users.each do |user| %>
    <%= render user %>
    <% end %>
</table>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<br />