<h1>Users</h1>
<p>
    <%= link_to 'New User', new_user_path %>
</p>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<table>
    <tr>
        <th>Admin</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <% @users.each do |user| %>
    <%= render user %>
    <% end %>
</table>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<br />