<p id="notice"><%= notice %></p>

<div id="user_show">

<div id="board_posting_form">
<%= render 'board_posting_form' %>
</div>

<div id="user_details">
<%= render 'user_details' %>
</div>

<br class="clearBoth" />
<br />

<div id="user_postings">
  <%= render 'postings' %>
</div>

</div>
<br class="clearBoth" />

