<p id="notice">
    <%= notice %>
</p>

<table>
<tr>
<td width="50%">
<p>
<div id="group_posting_form">
<%= render 'group_posting_form' %>
</div>
</p>
</td>

<td>
<%= render 'user_details' %>
</td>
</tr>
<tr><td colspan="2">
<div id="user_postings">
  <%= render 'postings' %>
</div>
</td>
</tr>
</table>

