<div id="posting_edit_content">
    <%= notice %>
    <h2>Edit post</h2>
    <% @board = Board.find_board(@posting.board_id) %>
    <%= render 'form' %>
    <%= link_to 'Back', :back, :class => "button_neutral" %>
</div>

