<h1>Public posts</h1>
<p>
<div class="apple_pagination">
    <%= will_paginate @public_postings, :container => false , :total_entries => @public_postings.count %>
</div>
<table>
<% @public_postings.each do |posting| %>
  <%= render posting %>
<% end %>
</table>
<div class="apple_pagination">
    <%= will_paginate @public_postings, :container => false , :total_entries => @public_postings.count %>
</div>
</p>


