<div class="float_right">
<%= render 'user_schools/btn_add_school', :school => element %>
</div>
<div class="float_left">
	<b><%= link_to strip_and_cut(element.school_name,45), element.url, :confirm => "You will be redirected to the #{element.name} website\n(#{element.url}).\nAre you sure?", :class => "tips", :title => "#{element.school_name}" %></b>
</div>
<br />
<div class="float_left"><%= element.location %></div>


