<div class="inline"><b><%= link_to element.school_name, element.url, :confirm => "You will be redirected to the #{element.name} website\n(#{element.url}).\nAre you sure?" %></b></div>
<div class="inline"><%= element.location %></div>
<%= render 'user_schools/btn_add_school', :school => element %>
