<div class="inline">
	<%= link_to element.school_name, element.url %>
</div>
<div class="inline">
	<%= element.location %>
</div>
<div class="inline_right">
<%= render 'schools/add', :school => element %>
</div>
<br class="clearBoth" />