<% if !params[:board].nil? %>
	<% board = ( @board.nil? ? Board.find_board(params[:board]) : @board ) %>
	<% if board && current_user.owner?(board) %>
    <div class="sub_menu_button clickable">
    <%= link_to 'ADD EVENT', home_path+"?board=#{params[:board]}&act=add_event", :class => 'tips', :title => "Add a new event to your calendar", :disable_with => "Loading..." %>
    </div>
	<% end %>
<% elsif params[:act] == 'edit_event' && @posting %>
	<% if current_user.owner?(@posting.board_id) %>
    <div class="sub_menu_button clickable">
    <%= link_to 'EDIT EVENT', home_path+"?board=#{@posting.board_id}&act=edit_event&id=#{@posting.id}", :class => 'tips', :title => "Edit your event", :disable_with => "Loading..." %>
	</div>
	<% end %>
<% end %>
