<br class="clearBoth" />

<% if !@board.nil? || !params[:board].nil? %>
<%= render 'shared/titles/sub_title', :element => @board, :element_path => board_path(@board) %>
<% elsif !@school.nil? %>
<%= render 'shared/titles/sub_title', :element => @school, :element_path => school_path(@school) %>
<% elsif !params[:act].nil? && params[:act] == 'messages' %>
<div class="_sub_title">
<h3 class="_sub_title">Messages</h3>
<div class="_sub_title_action"></div>
</div>
<% else %>
<div class="_sub_title">
<h3 class="_sub_title"><%= @postings_title %></h3>
<div class="_sub_title_action"></div>
</div>
<% end %>



