<% if !@board.nil? || !params[:board].nil? %>
<%= render 'shared/titles/sub_title', :element => @board, :element_path => board_path(@board) %>
<% elsif !@school.nil? %>
<%= render 'shared/titles/sub_title', :element => @school, :element_path => school_path(@school) %>
<% elsif !params[:act].nil? && params[:act] == 'messages' %>
<div class="_sub_title_action">Messages</div>
<div class="sub_title_nav"><div class="sub_menu_button">&nbsp;</div></div>
<% else %>
<div class="_sub_title_action"><%= @postings_title %></div>
<div class="sub_title_nav"><div class="sub_menu_button">&nbsp;</div></div>
<% end %>



