<% if flash.count == 0 && !notice.nil? %>
<div class="flash_msg">
 <%= notice %>
</div>
<% elsif flash.count > 0 %>
 <%= render 'shared/flash_msg', :msg => 'msg' %>
<% else %>
 <br class="clearBoth" /> &nbsp;
<% end %>
<% flash = nil %>
