<% if !flash.any? && !notice.nil? %>
<div class="flash_info">
 <%= notice %>
</div>
<% elsif flash.any? %>
 <%= render 'shared/flash_msg', :msg => 'info' %>
<% else %>
 <br class="clearBoth" /> &nbsp;
<% end %>
<% flash = nil %>
