<% return nil if current_user.nil? %>

<div id="user_title_nav">
    <div id="whatsNew">
        <!-- div class="background_write">What's new?</div -->
        <%= render 'shared/containers/small_container', :container => @level_ups, :action => '' %>
    </div>
    <div id="user_boards">
    <%= render 'home/user_boards', :user => current_user %>
    </div>
    <div id="user_schools">
    <%= render 'home/user_schools', :user => current_user %>
    </div>
    <div id="avalable_space"></div>
    
</div>

