<% if @board && @posting_form && !params[:act].nil? && params[:act] == 'write' && !current_user.nil? %>

<div class="clearfix">
<div class="close_button clickable">
    <%= link_to "Close", controller_path + "?board=#{params[:board]}&act=cancel", :class => 'tips', :title => "Close Messages", :disable_with => "Close" %>
</div>
<div class="action_button">
<%= link_to "Advanced editor", new_posting_path(@posting_form) + "?board=#{@board.id}", :class => 'tips', :title => "Switch to advanced editing", :disable_with => "Loading..." %>
</div>
</div>

<div id="action_tab" class="clearfix">
<%= render 'home/board_posting_form' %>
</div>
<% end %>
