<div id="boards_area">
<div class="background_write">My Boards</div>
<% all_boards = current_user.boards.where(:active => true)
   if all_boards.empty? 
%>
    <div class="note">
        <p>This area is empty because your profile has not been linked to any board yet.<br />
         In order to link your profile please click on <b>BOARDS</b> then <b>JOIN</b>.
        Then search for a board of your interest and click <b>Join</b> or <b>Follow</b>. 
        To find out more about Join and Follow just place your mouse pointer over the buttons.</p>
    </div>
<% else 
    boards = ( all_boards.count > max_num_boards ?
    all_boards[0..max_num_boards-1] : all_boards )
    boards.each do |board|
      @current_board = board if board.id.to_s == params[:board]
%>
    <div class="secondary_menu_button <%= selected_if(board.id.to_s == params[:board]) %>">
    <% member = current_user.members.find_by_board_id(board.id) %>
    <%= link_to "#{strip_and_cut(board.title, 30)}", home_path+"?board=#{board.id}", :class => 'tips', :title => "#{board_desc(board, member)}", :disable_with => "Loading..." %>
</div>
<%
    end # end of @current_school do-loop
    if all_boards.count > max_num_boards
%>
<div class="secondary_menu_button">
    <%= link_to "MORE", home_path+"?act=boards&subact=nav",{:confirm => "Your other boards are listed on the right bar."} %>
</div>
<%
    end # of if all_boards.count > max_num_boards
end # end of !all_boards.empty?
%>
</div>
