<div id="menu_buttons">
<% unless current_user.nil? %>

<div id="main_menu">
<!-- FIRST LEVEL BUTTONS -->
<%= render 'home/title_main_menu' %>
</div> <!-- end of main_menu div -->

<!-- OPTIONAL BUTTONS -->
<div id="optional_buttons">
<div id="title_print_schools">
<%= render 'title_print_schools' %>
</div>


<% if params[:school].nil? %>
<div id="title_print_boards">
<%= render 'title_print_boards' %>
</div>
<% end %>
</div>

<% end %>
</div>
