<!-- SECOND LEVEL SERVICE BUTTONS -->
<div id="second_level_btns">
<!-- %= render 'home/second_level_btns' % -->
</div> <!-- end of second_level_btns -->
<!-- END OF SECOND LEVEL SERVICE BUTTONS -->


<!-- FIRST LEVEL SERVICE BUTTONS -->
<% if params[:act] == 'schools' || params[:act] == 'school_search' || !params[:school].nil? %>
<div class="school_menu_button selected">
<% else %>
<div class="school_menu_button">
<% end %>
<%= link_to 'SCHOOLS', home_path+'?act=schools', :title => "Open Schools Menu" %>
</div>

<% if params[:act] == 'boards' || params[:act] == 'new_board' || params[:act] == 'board_search' || !params[:board].nil? %>
<div class="board_menu_button selected">
<% else %>
<div class="board_menu_button">
<% end %>
<%= link_to 'BOARDS', home_path+'?act=boards', :title => "Open Boards Menu" %>
</div>

<% if params[:act] == 'posts' || params[:act] == 'post_search' %>
<div class="post_menu_button selected">
<% else %>
<div class="post_menu_button">
<% end %>
<%= link_to 'POSTS', home_path+'?act=posts', :title => "Open Posts Menu" %>
</div>
<!-- END OF FIRST LEVEL SERVICE BUTTONS -->
