<div class="menu_buttons">
<% unless current_user.nil? %>
<div class="school_menu_button">
<%= link_to 'SCHOOL', home_path+'?school_search=on' %>
</div>
<div class="board_menu_button">
<%= link_to 'BOARD', home_path+'?board_search=on' %>
</div>
<div class="msg_menu_button">
<% if ( !params[:board].nil? && params[:board] != 'all' ) %>
<%= link_to 'MESSAGE', home_path+"?board=#{params[:board]}&element_action=on" %>
<% end %>
</div>
<% end %>
</div>
