<% return nil if current_user.nil? %>
<% user = current_user if user.nil? %>
<% unless user.boards.empty? %>
  <% user.boards.each do |board| %>
     <% if board.active? %>
     <div class="nav_link clickable">
     <%= link_to "#{strip_and_cut(board.title,20)}", home_path + '?board=' + board.id.to_s, {:title => "Board: #{board.title}"} %>
     </div>
     <!-- %= button_to 'Del', current_user.boards.find_board(board.id), :class => "button_reject", confirm: "Do you want to remove Board \"#{board.title}\"?", method: :delete, :remote => true % -->
     <% end %>
  <% end %>
<% end %>

