<% return nil if current_user.nil? %>
<% if current_user.boards.count > max_num_boards %>

<div class="background_write">All My Boards</div>

<% user = current_user if user.nil? %>
<% unless user.boards.empty? %>
  <% user.boards.each do |board| %>
     <% if board.active? %>
     <div class="nav_link clickable">
     <%= link_to "#{strip_and_cut(board.title,20)}", home_path + '?board=' + board.id.to_s, {:title => "Board: #{board.title}"} %>
     </div>
     <div class="clickable">
     <%= button_to 'Del', current_user.boards.find_board(board.id),
      confirm: "Do you want to remove Board \"#{board.title}\"?", 
      :class => "button_reject", :disable_with => 'Deleting...',
      method: :delete, :remote => true %>
     </div>
     <% end %>
  <% end %>
<% end %>
<br class="clearBoth" />
<br />

<% end %>

