<% @user = User.find_user(@member.user_id) %>
<% unless @user.nil? %> 
<span class="user">
	<% if @user.member?(@member.board_id) %>
    <%= link_to "#{@user.full_name}", user_path(@user) %>
    <% end %>
    <% if @member.member_type == Member::MemberType::OWNER %>
    <i>(Owner)</i><br />
    <% else %>
     |
    <% end %>
    <% if current_user.owner?(@member.board_id) && !current_user?(@user) %>
    <%= render 'grp_ban' %>
    <% end %>
</span>
<% end %>