<% if @board.active? %>

<%= form_for @board.members.build(:user_id => 50) do |f| %>
  <div><%= f.text_field :user_id %></div>
  <div class="actions"><%= f.submit "Invite To This Board" %></div>
<% end %>
<% end %>