<div id="school_content">
<p id="notice"><%= notice %></p>
<%= link_to @school.name, @school.url, :confirm => "You will be redirected to the #{@school.name} website\n(#{@school.url}).\nAre you sure?" %>
<br />
<%= @school.location %>
<br />
</div>
