// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board_content{
    position:relative;
    width: 80%;
    margin: 2px auto;
    background:$bglighten50; 
    border:3px solid $backgrnd;
    padding:30px;
    border-radius: 25px;
}
#edit_board_content{
    position:relative;
    width: 30%;
    margin: 2px auto;
    background:$bglighten50; 
    border:3px solid $backgrnd;
    padding:30px;
    border-radius: 25px;  
}
#members{
  float:right;
  width:25%;
}
#action_area{
  float:right;
  width:35%;
}
#board_content #board_postings{
    width: 70%;
}

#board_content .subject{
    color:#A62F00;
    font-weight: bold;
}
