// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rignt-nav-bar: 17%;  // the width of the right bar navigation
$main-part: 45%;  // the width of the #main-part
$left-side-shift: 3%; // #main_part has a shift left by this amount
$title-bar: 78%; // $main-part + $left-side-shift - 1%

@mixin menu-btn($wide:70px, $marge: 10px, $round: 100px, $line: 6em){
  width: $wide;
  float: left;
  margin: $marge;
  border: 3px solid white;
  padding: 1em;
  display:block;
  text-align:center;
  color:$darkest;
  text-decoration:none;
  font-weight: bold;
  line-height:$line;
  @include rounded-corners($round);
  @include main-shadow;
  &:hover {
    @include main-hover($darker);
  }
}

@mixin sec-menu-btn($wide:70%, $marge: 1px, $round: 5px, $line: 0.1em){
  width: $wide;
  float: left;
  margin: $marge;
  padding: 1em;
  display:block;
  text-align:center;
  color:$darkest;
  text-decoration:none;
  font-weight: bold;
  line-height:$line;
  border:1px solid white;
  @include rounded-corners($round);
  @include main-shadow;
  &:hover {
    @include main-hover($darker);
  }
}
#user_title_nav{ // right side navigation with schools, boards etc.
  float:right;
  width:$rignt-nav-bar;
  min-width:20em;
}
#right_side_act{
  position:absolute;
  float:right;
  left:50%;
  width:29%;
}

#main_part{ // the main section that starts after SCHOOL, BOARD, MESSAGE title buttons
  position:relative;
  left:$left-side-shift;
  width: $main-part;
  height:100%;
  overflow-x:hidden;
}

#board_posting_form{ // form for writing posts
  float: left;
}
#user_postings{ // all the postings in the main section
  float: left;
  width: 99%;
}
.http_link a,
._nav_link a,
.nav_link a{ // links on right side navigation bar
  float: right;
  width: 70%;
  margin: 2px;
  border:1px solid $darker;
  //@include bkground-image;
  padding: 1em;
  display:block;
  text-align:center;
  color:$darker;
  text-decoration:none;
  font-weight: bold;
  line-height:.05em;
  @include rounded-corners;
  
  &:hover {
    background:$darker; /* nav hover color */
    color:lighten($darker, 70%);
    font-weight: bold;
  }
}

#title{ // area for buttons (SCHOOL, BOARD, MESSAGE etc)
  width:$title-bar;
  height:16em; 
}

.home_sub_title{ // name of the board, school, or provided posts
  float:left;
}

#title_top_action{
}
.action_tab{ // results of the boards/schools search etc.
  overflow: auto;
  overflow-x: hidden;
  height: 23.5em;
  width: 99%;
  border: 2px solid $backgrnd;
  @include rounded-corners(3px);
}
/*********************** buttons ***********************************/
#menu_buttons{  // groups SCHOOL, BOARD, MESSAGE etc area
  position:relative;
  width:95%;
  top:0;
  left:5em;
  min-width:30em;
}
#main_menu{
  position:absolute;
  width:50%;
}
#optional_buttons{
  position:absolute;
  left:50%;
  width:60%;
  min-width:50em;
}
#schools_area{ // area to display list of schools
  position:absolute;
  width:40%;
}
#boards_area{ // area to display list of boards
  position:absolute;
  left:40%;
  width:50%;
}
.school_menu_button{ // main SCHOOL button
  position:relative;
  left:4em;
}
.board_menu_button{ // main BOARD button
  position:relative;
  top:6em;
  left:1em;
}
.msg_menu_button{ // main MESSAGE button
  position:relative;
  top:7.5em;
  left:1em;
}
.invite_menu_button{ // main INVITE button
  position:relative;
  top:7.5em;
  left:1em;
}

.secondary_menu_button{
  position:relative;
  left:1em;
}
.secondary_menu_button a{
  @include sec-menu-btn;
}
.selected a{
  background:$darker;
  color:white;
}
.school_menu_button a, // secondary navigation buttons for main SCHOOL and BOARD buttons
.board_menu_button a,
.menu_button a{
  // menu-btn($wide:70px, $marge: 10px, $round: 100px, $line: 6em)
  @include menu-btn;
}

.search_board_menu_button,
.new_board_menu_button,
.search_school_menu_button{
  position:relative;
  top:3em;
  left:0.1em;
}
.invite_menu_button a,
.msg_menu_button a,
.search_school_menu_button a,
.new_board_menu_button a,
.search_board_menu_button a{
  // menu-btn($wide:70px, $marge: 10px, $round: 200px, $line: 6em)
  @include menu-btn(45px, 2px, 100px, 4em);
}

.background_write{
  color:white;
  opacity:0.3;
  font-size:xx-large;
  font-style:italic;
  width:1%;
  float: left;
  white-space: nowrap;
}
