// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rignt-nav-bar: 17%;  // the width of the right bar navigation
$left-side: 42%;  // the width of the #main-part
$right-side: 30%;
$title-bar: 78%; //sum of $left-side + $right-side - 1%

@mixin menu-btn($wide:6em, $marge: 10px, $round: 100px, $line: 6em){
    width: $wide;
    float: left;
    margin: $marge;
    border: 3px solid white;
    padding: 1em;
    display:block;
    text-align:center;
    text-decoration:none;
    font-weight: bold;
    line-height:$line;
    @include rounded-corners($round);
    @include main-shadow;
}

@mixin sec-menu-btn($wide:14em, $marge: 2px, $round: 5px, $line: 0.1em){
    //width:auto;
    min-width: $wide;
    margin: $marge;
    padding: 0.9em;
    display: block;
    text-align: center;
    color: $bgdarken40;
    text-decoration: none;
    font-weight: bold;
    line-height:$line;
    border:1px solid $bgdarken10;
    @include rounded-corners($round);
    @include main-shadow($bgdarken20, 2px);
    &:hover {
        @include main-hover;
    }
}
#all_user_schools,
#all_user_boards{
    background-color: $backgrnd;
    margin-top: 0.5em;
    padding: 1em 1em;
    @include rounded-corners(20px);
    border:2px solid $bgdarken20;
}

#avalable_space{
    height:100em;
}

#whatsNew{
    margin-top:-1.8em;
    margin-bottom:2em;
    background-color: $backgrnd;
    padding: 0.5em;
    height:18.2em;
    overflow:hidden;
}
#board_posting_form{ // form for writing posts
  float: left;
}
#user_postings{ // all the postings in the main section
    float: left;
    width: 99%;
    margin: 0;
}
.http_link a,
._nav_link a,
.nav_link a{ // links on right side navigation bar
  width: 10em;
  margin: 2px;
  border:1px solid $bgdarken40;
  padding: 1em;
  display:block;
  text-align:center;
  color:$bgdarken40;
  text-decoration:none;
  font-weight: bold;
  line-height:.05em;
  @include rounded-corners;
  
  &:hover {
    background:$bgdarken40; /* nav hover color */
    color:lighten($bgdarken40, 70%);
    font-weight: bold;
  }
}

#title{ // area for buttons (SCHOOLS, BOARDS, POSTS etc)
    width:$title-bar;
    height:16em;
}

.sub_title_nav{
  height:20px;
}

.home_sub_title{ // name of the board, school, or provided posts
  margin: auto;
  padding: 5px 5px 0 5px;
  text-align:left;
  font-weight: bold;
  font-size: $btn-font-size;
  color:$bgdarken40;
}
.home_sub_title a {
  margin: auto;
  text-decoration: none;
  overflow:visible;
  cursor: pointer;
  font-size: $btn-font-size;
  color:$bgdarken40;
  
  &:hover {
    color: $bgdarken20;
    font-weight: bold;
  }
}
.calendar_sub_title{
  margin: auto;
  padding: 5px 5px 5px 5px;
  text-align:center;
  font-weight: bold;
  font-size: $btn-font-size;
  color:$bgdarken40;
}
.calendar_sub_title a{
  text-decoration:none;
  font-size: $btn-font-size;
  color:$bgdarken20;
}
#title_top_action{
    height: 30em;
    width: 30em;
}
#action_tab{ // results of the boards/schools search etc.
    overflow-x: hidden;
}
/*********************** buttons ***********************************/
#menu_buttons{  // groups SCHOOL, BOARD, MESSAGE etc area
    position:relative;
    width:95%;
    top:0;
    left:5em;
    min-width:30em;
}
#optional_buttons{
    position:absolute;
    left:50%;
    width:40%;
    min-width:45em;
    height:17em;
    color:white;
}
#schools_area{ // area to display list of schools
    position:absolute;
    margin: 0;
    padding: 0;
    width: 200px;
}
#boards_area{ // area to display list of boards
    position:absolute;
    margin: 0;
    padding: 0;
    margin-left: 250px;
    width: 200px;
}
.first_menu_button{ // main SCHOOLS button
    position:relative;
    top: 0;
    left: 50px;
}

.second_menu_button{ // main BOARDS button
    position:relative;
    top: 100px;
    left: -10px;
}

.third_menu_button{ // main POSTS button
    position:relative;
    top: 140px;
    left: -25px;
}

.fourth_menu_button{ // main USERS button
    position:relative;
    top: 140px;
    left: -30px;
}
.sub_menu_button{
    float: right;
    margin:5px;
}
/*********************** link_btn & link_with_btn ***********************/
// these two classes are used to style link and a button on its right side.
// Inside link_with_btn put both divs - the link and the button.
// The button itself goes inside link_btn div (inside link_with_btn div)
.link_btn{
  float:right;
  width:20px;
  height:1em;
  margin-top:-0.6em;
}
.link_with_btn{
  padding:2px;
}
/*********************** end of link_btn & link_with_btn ***********************/
.secondary_menu_button{
    position:relative;
    margin:3px;
    //font-style:italic;
    font-weight: bold;
    border-bottom:1px solid #808080;
}

a.secondary_menu_button,
.secondary_menu_button a{
    text-decoration: none;
    color: $bglighten50;
  
    &:hover {
        color: black;
    }
}

.sub_menu_button a{
    color:black;
    @include sec-menu-btn(4.5em);
    
    &:hover {
        background-color: #ffb770;
    }
}

a.secondary_menu_button.selected,
.secondary_menu_button.selected a{
    text-decoration: none;
    color: #ffb770;

    &:hover {
        color: black;
    }
}

.sub_menu_button.selected a{
    @include sec-menu-btn(4.5em);
    
    &:hover {
        background-color: #ffb770;
        border: 1px solid #ff9933;
        color: black;
    }
    
    background-color: #ffb770;
    color: black;
}

.first_menu_button a,
.second_menu_button a,
.third_menu_button a,
.fourth_menu_button a,
.menu_button a{
    @include menu-btn;
    
    &:hover {
        background-color: #ffb770;
        border: 3px solid #ff9933;
        color: black;
    }
    
    color:white;
}

.first_menu_button.selected a,
.second_menu_button.selected a,
.third_menu_button.selected a,
.fourth_menu_button.selected a,
.menu_button.selected a{
    @include menu-btn;
    
    &:hover {
        background-color: #ffb770;
        border: 3px solid #ff9933;
        color: black;
    }
    
    background-color: #ffb770;
    color: black;
}

#second_level_btns{
  position:relative;
  float:right;
  // min-width:35%; commented out because buttons were removed, but this place can be used in future
  min-height:7em;
  top:1em;
  right:3em;
}
.search_posts_menu_button,
.search_second_menu_button,
.new_second_menu_button,
.search_first_menu_button{
    position:relative;
    float:left;
    top:0.8em;
    right:3em;
}

.search_posts_menu_button.selected a,
.search_first_menu_button.selected a,
.new_second_menu_button.selected a,
.search_second_menu_button.selected a{
    @include menu-btn(45px, 2px, 100px, 4em);
    
    &:hover {
        background-color: #ffb770;
        border: 3px solid #ff9933;
        color: black;
    }
    
    background-color: #ffb770;
    color: black;
}

.search_posts_menu_button a,
.search_first_menu_button a,
.new_second_menu_button a,
.search_second_menu_button a{
    @include menu-btn(45px, 2px, 100px, 4em);
    
    &:hover {
        background-color: #ffb770;
        border: 3px solid #ff9933;
        color: black;
    }
    
    color: white;
}
.background_write{
    position:relative;
    color:white;
    left:-1.3em;
    opacity:0.2;
    height:27px;
    font-size:xx-large;
    font-style:italic;
    white-space: nowrap;
}
.background_write_2{
    position:relative;
    color:white;
    //left:-1.3em;
    opacity:0.2;
    font-size:xx-large;
    font-style:italic;
    white-space: nowrap;
}
.note{
    border:3px solid $bgdarken10;
    background:$bglighten50;
    margin:5px;
    padding:5px;
    color:$bgdarken40;
    @include rounded-corners(15px);
}
.note a{
  text-decoration:none;
  color:red;
}
.new_posting{
  height:1em;
}