// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posting_show_content,
#posting_edit_content {
    position:relative;
    width: 85%;
    margin: 2px auto;
    background:$bglighten50; 
    border:3px solid $backgrnd;
    padding:10px;
}