// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#school_boards{
  float:right;
  width:80%;
  background-color: $backgrnd;
  margin: 0.5em;
  padding: 1em 1em;
  @include rounded-corners(20px);
  border:2px solid $bgdarken20;
}