/*********************** image background ***********************************/
html {
background: url('../../assets/iris.png') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body, #logo, #wider_line{
  background: transparent;
  padding:0;margin:0;
  height:100%;width:100%;
  /* MS */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false',startColorstr='#FF9E73', endColorstr='#FFB673', GradientType=1);
}

.signin_container{
    position: relative;
    top: 85px;
    width: 27em;
    margin: auto;
    padding: 15px 15px 15px 15px;
}

#signin_top10{
  float:right;
  width:27em;
}
