$backgrnd: #BAC3D3;
$darkest:        darken($backgrnd,70%);
$darker:         darken($backgrnd,40%);
$light:          lighten($backgrnd, 40%);
$lightest:       lighten($backgrnd, 70%);

$fonts-color: $darkest;

$btn-confirm: #227448;
$btn-reject: #9D5134;

$footer-heigth: 25px;
$right-side-bar: 150px;

@mixin action-button($btn-colort){
  color: $btn-colort;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid $btn-colort;
  @include rounded-corners;
  
  &:hover {
    color: $lightest;
    background: $btn-colort; //transparent;
    cursor: pointer;
  }
}

@mixin rounded-corners($radius: 1em){
	border-radius: $radius;
	-moz-border-radius: $radius;
  -webkit-border-radius: $radius;	
}

@mixin main-button( $clr ){
  margin: 2px;
  border:1px solid $clr;
  background-image: -webkit-gradient(linear, left top, left bottom, from($clr), to(lighten($clr, 70%)));
  padding: .5em;
  display:block;
  text-align:center;
  color:$clr;
  text-decoration:none;
  font-weight: bold;
  line-height:.3em;
  @include rounded-corners;
}
@mixin main-hover($bkgrnd){
    background:$bkgrnd; /* nav hover color */
    color:lighten($bkgrnd, 70%);
    font-weight: bold;
}

/************************* footer ******************************/
body{
  margin:0;
  padding:0 $right-side-bar $footer-heigth 0;
  background: $backgrnd; 
  background-image: -webkit-gradient(linear, left top, left bottom, from($backgrnd), to($lightest));
  color:$fonts-color;
 }
 div#right-sidebar{
  position:absolute;
  top:0; /* shift from the top */
  right:40px; /* shift from the right to the left */
  width:$right-side-bar; /*width:right-sidebar*/
  height:100%;
 }
 div#footer{
  position:absolute;
  bottom:0;
  left:128px; /* margin from the left side */
  width:953px; /* width of the bar */
  height:$footer-heigth;
  background:$backgrnd;
 }
 @media screen{
  body>div#right-sidebar{
   position:fixed;
  }
  body>div#footer{
   position: fixed;
  }
 }
 * html body{
  overflow:hidden;
 } 
 * html div#content{
  height:100%;
  overflow:auto;
 }

/*********************** body ***********************************/
/*body{
	background: $backgrnd;
	background-image: -webkit-gradient(linear, left top, left bottom, from($backgrnd), to($lightest));
  color:$fonts-color;
}*/

a{
  color:$darkest;
}

/*********************** header ***********************************/
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 0px;
    padding:3px 10px;
    text-align:center;
    background:$backgrnd; /* nav button color */
    color:$darkest;
    text-decoration:none;
    font-weight: bold;
    position:relative;
    left:0px;
    line-height:1.3em;
    @include rounded-corners;
    &:hover{
    	background:$darker; /* nav hover color */
        color:$backgrnd;
        font-weight: bold;
    }
    &:active,
    &:active:hover {
	    color:$darker;
	    background:$backgrnd;
	    font-weight:bold;
	}
}

#header ul li a span {
    display:block;
}

/*********************** content ***********************************/

.button_confirm{
  @include action-button($btn-confirm);
}
.button_reject{
  @include action-button($btn-reject);
}
.button_neutral{
  @include action-button($darker);
}
/*********************** containers ***********************************/
#_title{
  clear:both;
  font-weight: bold;
}
#_desc{
  float:left;
}
#_title_nav{
  float:both;
}

._sub_title{
  float:left;
  font-weight:bold;
}
h3 ._sub_title{
  float:left;
  padding: 5px;
}
._sub_title_action a{
  float: left;
  border:2px solid $darker;
  background-image: -webkit-gradient(linear, left top, left bottom, from($darker), to(lighten($darker, 70%)));
  padding: 1em;
  display:block;
  text-align:center;
  /* background:#eee; nav button color */
  color:$darker;
  text-decoration:none;
  font-weight: bold;
  line-height:.3em;
  @include rounded-corners;
}
._sub_title_nav a:hover {
    background:$darker; /* nav hover color */
    color:lighten($darker, 70%);
    font-weight: bold;
 }

.generic_container{
  float:left;
	width: 100%;
  margin: 2px auto;
  border: 3px solid $backgrnd;
  border-radius: 5px;
  padding:1px;
	color: $darkest;
}
.generic_container div.posting_element:hover,
.generic_container div.user_element:hover,
.generic_container div.board_element:hover,
.generic_container div.member_element:hover{
    background:$backgrnd; /* nav hover color */
    /*color:lighten($backgrnd, 70%);*/
}
.posting_element,
.user_element,
.board_element,
.member_element{
	width: auto;
	margin: 2px auto;
	background-color: $backgrnd;
	background-image: -webkit-gradient(linear, left top, left bottom, from($backgrnd), to($light));
	border:3px solid $backgrnd;
	padding:1px;
	border-radius: 5px;
}

.edit_button a{
	float: right;
  @include main-button( $btn-confirm );
}
.edit_button a:hover {
  @include main-hover( $btn-confirm );
}

.delete_button a{
	float: right;
	width: auto;
  @include main-button( $btn-reject );
}
.delete_button a:hover {
  @include main-hover( $btn-reject );
}

.action_button a{
  float: right;
  @include main-button( $darker );
}
.action_button a:hover {
  @include main-hover( $darker );
}

.clearBoth { clear:both; }
.inline{ float: left; margin: 2px; }
