// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_title_nav{
  float:right;
}

#main_part{
  float:left;
  width: 100%;
}

#board_posting_form{
  float: left;
  width: 100%; //680px;
}
#user_postings{
  float: left;
  width: 100%; //680px;
}

._nav_link a,
.nav_link a{
  width: 150px;
  margin: 2px;
  border:1px solid $darker;
  background: $light;
  background-image: -webkit-gradient(linear, left top, left bottom, from($backgrnd), to($light));
  padding: 1em;
  display:block;
  text-align:center;
  color:$darker;
  text-decoration:none;
  font-weight: bold;
  line-height:.3em;
  @include rounded-corners;
  
  &:hover {
    background:$darker; /* nav hover color */
    color:lighten($darker, 70%);
    font-weight: bold;
  }
}

