// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rignt-nav-bar: 23%;  // the width of the right bar navigation
$main-part: 72%;  // the width of the #main-part
$left-side-shift: 3%; // #main_part has a shift left by this amount

#user_title_nav{
  float:right;
  width:$rignt-nav-bar;
}

#main_part{
  position:relative;
  //float:right;
  width: $main-part; //100%;
  left: $left-side-shift;
  overflow: auto;
  height:1%;
  overflow-x: hidden;
}

#board_posting_form{
  float: left;
}
#user_postings{
  //top:20px;
  float: left;
  width: 99%; // //680px;
}
.http_link a,
._nav_link a,
.nav_link a{
  float: right;
  width: 150px;
  margin: 2px;
  border:1px solid $darker;
  //@include bkground-image;
  padding: 1em;
  display:block;
  text-align:center;
  color:$darker;
  text-decoration:none;
  font-weight: bold;
  line-height:.05em;
  @include rounded-corners;
  
  &:hover {
    background:$darker; /* nav hover color */
    color:lighten($darker, 70%);
    font-weight: bold;
  }
}

#title{
  width:$main-part;
  height:10em;
}

#top_title_action{
  float:left;
  width:100%;
  overflow: auto;
  height:1%;
  position:relative;
  top:5em;
}

.user_sub_title{
  position:relative;
  float:left;
  left:0.5em;
  top:3.5em;
}

.action_tab{
  overflow: auto;
  overflow-x: hidden;
  height: 23.5em;
  width: 99%;
  border: 2px solid $backgrnd;
  @include rounded-corners(3px);
}
/*********************** buttons ***********************************/
.menu_buttons{
  position:relative;
  top:0.1em;
  left:5em;
}
.school_menu_button{
  position:relative;
  top:1em;
  left:3em;
}
.board_menu_button{
  position:relative;
  top:5em;
  left:1em;
}
.msg_menu_button{
  position:relative;
  top:5em;
  left:0.1em;
}
.school_menu_button a,
.board_menu_button a,
.msg_menu_button a,
.menu_button a{
  width: 70px;
  float: left;
  margin: 10px;
  border: 3px solid white;
 //@include bkground-image;
  padding: 1em;
  display:block;
  text-align:center;
  color:black;
  text-decoration:none;
  font-weight: bold;
  line-height:6em;
  @include rounded-corners(200px);
  @include main-shadow;
}
.school_menu_button a:hover,
.board_menu_button a:hover,
.msg_menu_button a:hover,
.menu_button a:hover {
  @include main-hover( $darker );
}

.background_write{
  color:white;
  opacity:0.3;
  font-size:xx-large;
  font-style:italic;
  width:1%;
  float: left;
  white-space: nowrap;
}
