<div id="wide_line">
	<div id="logo">
		<% if !current_user.nil? %>
		<%= render 'shared/titles/title', :element => current_user, :edit_link => edit_user_path(current_user) %>
		<% end %>
		Board<font color="yellow">ten</font>
	</div>
	<div id="wider_line"><div class="loading"></div></div>
	&nbsp;
</div>
&nbsp;

