<h1>Board Members</h1>
<div class="apple_pagination clickable">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<% @users.each do |u| %>
  <% if u.members.any? %>
  <hr /><h3><%= link_to u.full_name, user_path(u) %> is a member in the boards:</h3>
  <%= render 'shared/containers/container', :container => u.members %>
  <% end %>
<% end %>
<div class="apple_pagination clickable">
    <%= will_paginate @users, :container => false, :total_entries => @users.count %>
</div>
<br />